* {
  color: inherit;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Open Sans", sans-serif !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

table {
  font-family: "Open Sans", sans-serif !important;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 5px;
}
