<div class="row justify-center align-center">
    <div class="disp-f" style="flex-grow: 1;">
      <h1 class="text-primary ml-2 mb-0">E-LMS</h1>
    </div>
    <div>ROLE: {{userType}}</div>
    <button mat-flat-button color="secondary" aria-label="LOGOUT">
      <mat-icon (click)="onLogout()">logout</mat-icon>
    </button>
    <ng-container *ngIf="userType === 'Admin' || userType === 'Instructor'">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon (click)="openNotification()" matBadge="{{notifications.length}}" matBadgeColor="warn">notification_important</mat-icon>
      </button>    
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let notifcn of notifications">
          <button mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>{{notifcn.name}}</span>
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
    

    