<div class="row justify-center align-center">
    <div class="disp-f" style="flex-grow: 1;">
      <h1 class="text-primary ml-2 mb-0">E-LMS</h1>
    </div>
    <div>ROLE: {{userType}}</div>
    <button mat-flat-button color="secondary" aria-label="LOGOUT">
      <mat-icon (click)="onLogout()">logout</mat-icon>
    </button>
    <button mat-flat-button color="secondary" aria-label="LOGOUT">
      <mat-icon (click)="openNotification()" matBadge="15" matBadgeColor="warn">home</mat-icon>
    </button>
   
    
  