@use "@angular/material" as mat;
@include mat.core();
$elms-primary: mat.define-palette(mat.$blue-palette, 700);
$elms-accent: mat.define-palette(mat.$grey-palette, 800);

$elms-theme: mat.define-light-theme(
  (
    color: (
      primary: $elms-primary,
      accent: $elms-accent,
    ),
  )
);
@include mat.all-component-themes($elms-theme);
